.App {
  /* height: "100vh"; */
  /* width: "100vw"; */
  min-height: 100vh;
  
}

main {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}