.multi-range-slider {
  display: flex;
  flex-direction: column;
}

.multi-range-slider__labels {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 14px;
  color: #6c757d;
}

.multi-range-slider__slider {
  position: relative;
  width: 200px;
  height: 5px;
}

.multi-range-slider__track,
.multi-range-slider__range {
  position: absolute;
  height: 5px;
  border-radius: 5px;
}

.multi-range-slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.multi-range-slider__range {
  background-color: #4caf50;
  z-index: 2;
  height: 5px;
}

.multi-range-slider__thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.multi-range-slider__thumb--left {
  z-index: 3;
}

.multi-range-slider__thumb--right {
  z-index: 4;
}

.multi-range-slider__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #4caf50;
  border: 2px solid #ced4da;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

.multi-range-slider__thumb::-moz-range-thumb {
  background-color: #4caf50;
  border: 2px solid #ced4da;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

.multi-range-slider__values {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 15px;
}

.multi-range-slider__input {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #495057;
}

.multi-range-slider__value-input {
  width: 80px;
  text-align: center;
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px;
  margin-right: 4px;
}

.multi-range-slider__actions {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}
